name: nucleobench
channels:
  - conda-forge
  - nodefaults
dependencies:
    - h5py
    - pip
    - pytest  # Python unit testing framework.
    - pytest-repeat  # For flakiness checking.
    - pytest-xdist # For running tests in parallel.
    - pytest-cov  # Coverage reporting for tests.
    - coverage  # Python unit testing tool.
    - pyclean  # Remove cache in between tests.

    - numpy
    - scipy
    - pandas
    - pyarrow  # Required for parquet support.
    - fastparquet  # Required for parquet support.

    - pytorch-cpu
    # - pytorch  # Switch to this for GPU support, if needed.
    - python-xxhash  # For hashing for Ada* cache.

    - lightning
    - wandb  # For skipping login when loading gRelu models.

    - google-cloud-storage
    - gcsfs  # For reading from GCS through pandas

    - twine  # For uploading to PyPI.

    - bioconda::pybigwig  # Needed for pip libraries below.

    - pip:
        - gReLU==1.0.5  # For the gReLU models.
        - bpnet-lite==0.8.1  # For a BPNet model.
        - build  # For building wheels.
